<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserInfoMapper">

	<resultMap type="UserInfo" id="UserInfoResultMap">
		<id column="userID" property="userID"/>
		<result column="userName" property="userName"/>
		<result column="password" property="password"/>
		<result column="gender" property="gender"/>
		<result column="registrationTime" property="registrationTime"/>
		<result column="qq" property="qq"/>
		<result column="weiXin" property="weiXin"/>
		<result column="mobilePhon" property="mobilePhon"/>
		<result column="emailBox" property="emailBox"/>
		<result column="Identity" property="Identity"/>
		<result column="accountStatus" property="accountStatus"/>
		<result column="userQuestionone" property="userQuestionone"/>
		<result column="userQuestiononeans" property="userQuestiononeans"/>
		<result column="userQuestiontwo" property="userQuestiontwo"/>
		<result column="userQuestiontwoans" property="userQuestiontwoans"/>
	</resultMap>

	<update id="editUserInfaccountStatus" parameterType="pd">
		update userinfo
		set accountStatus = #{accountStatus}
		where userID = #{userID}
	</update>

	<delete id="deleteUserInfo" parameterType="pd">
		delete from userinfo
		where userID=#{userID}
	</delete>

	<update id="updateUserInfo" parameterType="pd">
		update userinfo set
		userID = #{userID},
		userName = #{userName},
		password = #{password},
		gender = #{gender},
		registrationTime = #{registrationTime},
		qq = #{qq},
		weiXin = #{weiXin},
		mobilePhon = #{mobilePhon},
		emailBox = #{emailBox},
		Identity = #{Identity},
		accountStatus = #{accountStatus},
		userQuestionone = #{userQuestionone},
		userQuestiononeans = #{userQuestiononeans},
		userQuestiontwo = #{userQuestiontwo},
		userQuestiontwoans = #{userQuestiontwoans}
		where
		userID=#{userID}
	</update>

	<select id="selectlistAllUserInfo" parameterType="pd" resultType="pd">
		select userID,
		userName,
		password,
		gender,
		registrationTime,
		qq,
		weiXin,
		mobilePhon,
		emailBox,
		Identity,
		accountStatus,
		userQuestionone,
		userQuestiononeans,
		userQuestiontwo,
		userQuestiontwoans
		from userinfo
		where 1 = 1
		<if test="userName != null and userName != ''"><!-- 用户名检索 -->
			and userName = #{userName}

		</if>
		<if test="Identity!=null and Identity!=''"><!-- 用户身份 -->
			and Identity = #{Identity}
		</if>
	</select>

	<update id="editUserInfPassword" parameterType="pd">
		update userinfo
		set password = #{password}
		where userName = #{userName}
	</update>

	<insert id="addUserInfo" parameterType="pd" flushCache="false">
		insert into userinfo (
		userName,
        password,
        gender,
        registrationTime,
        qq,
        weiXin,
        mobilePhon,
        emailBox,
        Identity,
        accountStatus,
        userQuestionone,
        userQuestiononeans,
        userQuestiontwo,
        userQuestiontwoans
		) values (
		#{userName},
        #{password},
        #{gender},
        #{registrationTime},
        #{qq},
        #{weiXin},
        #{mobilePhon},
        #{emailBox},
        #{Identity},
        #{accountStatus},
        #{userQuestionone},
        #{userQuestiononeans},
        #{userQuestiontwo},
        #{userQuestiontwoans}
		)
	</insert>

	<select id="getUserInfoById" parameterType="pd" resultType="pd">
	   select *
		 from userinfo
		where userID=#{userID}
	</select>

	<select id="getUserInfolistById" resultMap="UserInfoResultMap">
		select *
		 from userinfo
		where userName=#{userName}
	</select>

	<select id="getUserInfolistByuserId" resultMap="UserInfoResultMap">
		select *
		from userinfo
		where userID = #{userID}
	</select>

</mapper>